@import "./helpers.scss";

.population-table {
  & > thead {
    & > tr {
      & > th {
        &:first-of-type {
          cursor: pointer;
        }
      }
    }
  }
  & > tbody {
    & > tr {
      &.selected {
        background-color: #eee;
      }
    }
  }
}

.wrap-chart-series {
  max-width: 500px;
  margin: 20px auto 50px;
}

.chart-container {
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.chart-serie {
  height: 300px;
  margin: 0 30px 0 0;
  display: inline-block;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transform-origin: 0 100%;
  animation: slideUp .6s;
  position: relative;
  border-bottom: 1px solid #c2c2c2;

  label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #808080;
  }

  .chart-serie__item {
    background-color: #43A19E;
    display: inline-block;
    margin: 0 5px 0 0;
    transition: height 0.3s ease-out, width 0.3s ease-out;
    position: relative;
    text-align: center;
    border-radius: 2px 2px 0 0;
    height: 100%;
    flex: 1;

    b {
      position: relative;
      font-family: Helvetica, sans-serif;
      font-size: 11px;
      top: -20px;
      color: #43A19E;
    }
  }
}

@keyframes slideUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.wrap-legend {
  margin-top: 50px;
}